<img class="ripple-gif" *ngIf="!loaded" src="./assets/img/ripple.gif">
<div *ngIf="loaded" class="container">
    <div class="space-block hidden-xs"></div>
    <div class="row">
        <div class="sidebar col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <app-photo [profile]="profile" link="Blog"></app-photo>
            <app-social [socials]="socials"></app-social>
            <app-projects [projects]="projects"></app-projects>
        </div>
        <div class="content col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <app-info [info]="info"></app-info>
            <app-skills [skills]="skills"></app-skills>
        </div>
    </div>
    <div class="space-block hidden-xs"></div>
</div>
