<div class="skills text-center box">
    <h4 class="box-title">Skills</h4>
    <table class="table table-bordered" *ngFor="let scope of skills">
        <tr *ngFor="let skill of scope.list">
            <td width="35%">{{ skill.name }}</td>
            <td>
                <div class="level-bar">
                    <div [ngStyle]="{
                        'width': skill.capacity,
                        'background-color': scope.color
                    }"></div>
                </div>
            </td>
        </tr>
    </table>
</div>
